body{
background-color: #F5F76D;

}

.menu{
width: 100%;
background-color:black;
list-style: none;
margin: 0;
padding: 0;
}

.menu li{
display:inline-block;
}

.menu li a{


    padding: 10px 20px;
    display:inline-block;
    color: #94F76D;
}

.menu li a:hover{



    background-color:white ;
}
